.red-text{
    color: red;
}

.surprise-block{
    background-color: red;
    color: yellow;
    font-size: 20px;
    padding: 20px;
}
/* Hide scrollbar for Chrome, Safari and Opera */

  body::-webkit-scrollbar {
    display: none;
    overflow: auto;
}